body { background:#000; }

div { text-align:center; background:#000; }

div img { vertical-align:middle; background:#000; }

.padding_top_5 { padding-top: 5%; }

.padding_bottom_3 { padding-bottom: 3%}
.padding_bottom_1 { padding-bottom: 1%}