html { background-color:#000; }

body { background-color:#000 !important; }

div { text-align:center; background-color:#000 !important; }

div img { vertical-align:middle; background-color:#000 !important; }

.padding_top_5 { padding-top: 5%; }

.padding_bottom_3 { padding-bottom: 3%}
.padding_bottom_1 { padding-bottom: 1%}