body { background:black;}

div { text-align:center; }

div img { vertical-align:middle;}

.padding_top_5 { padding-top: 5%; }

.padding_bottom_3 { padding-bottom: 3%}
.padding_bottom_1 { padding-bottom: 1%}